.fa-dollar-sign {
	color: rgb(1, 153, 1);
}

.fa-euro-sign {
	color: rgb(50, 47, 216);
}

.fa-pound-sign {
	color: rgb(212, 153, 42);
}

.content {
	font-size: xx-large;
}

.img-logo {
	width: 8em;
}
